---
# This is a test gitflow job
name: hello world

on: [pull_request,push]

jobs:
  setup:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        shell: bash

    steps:
      - run: ./file.sh

 build:
    needs: setup
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: echo $HOSTNAME-"Hello World"
  
  